# Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter-*
.melos_tool/
# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
# macOS
.DS_Store
# Android
android/.gradle/
android/.idea/
android/local.properties
android/.cxx/
android/app/debug
android/app/profile
android/app/release
# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/AppFrameworkInfo.plist
ios/Flutter/ephemeral/
# Web
web/.dart_tool/
web/build/
# Linux
linux/build/
# Windows
windows/build/
# Coverage
coverage/
# Others
*.log
*.tmp
*.swp
*.lock
*.bak
*.orig
*.rej
# User app, admin panel, shared (if they have their own build or .dart_tool)
user_app/build/
user_app/.dart_tool/
admin_panel/build/
admin_panel/.dart_tool/
shared/build/
shared/.dart_tool/